<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TournamentManagement" connectionString="Data Source=DESKTOP-QFF5AJJ\SQLEXPRESS;Initial Catalog=QuanLyXetTuyenHocSinh_Database;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>